main {
  width: 100%;
  padding: 50px;
  background-image: url("../assets/images/background-2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  scroll-behavior: auto;
}

main div.main-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  background: linear-gradient(270deg, #e80202e8 0%, #891834 100%);
  gap: 2rem;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.638);
  font-size: 1.5rem;
}

.main-container {
  max-width: 1200px;
  min-width: 50%;
  display: flex;

  gap: 5rem;
  margin: 100px auto;
}

div.img-container {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px var(--dark-color);
  border-radius: 100%;
  margin: auto;
}

.img-container img {
  width: 100%;
  border-radius: 50%;
  padding: 10px;
}

@media (max-width: 960px) {
  main div.main-description {
    font-size: 1.2rem;
  }

  .main-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  main div.main-description {
    font-size: 1rem;
  }
}
