section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color);
}

.section-description {
  max-width: 100%;
  background-color: #0c0e23;
  text-align: center;
  margin-bottom: 70px;
  padding: 20px;
  color: var(--white-color);
}
.card-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}
.card-experience {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px black;
  background: linear-gradient(3600deg, #e80202 0%, #891834 100%);
}

.card-experience button {
  margin: 10px auto;
}
.card-experience img {
  width: 80%;
  padding: 20px;
  object-fit: cover;
}

.card-experience:hover {
  background: linear-gradient(3600deg, #d81a1a 0%, #891834 100%);
  box-shadow: 0 0 10px var(--primary-color);
  transform: translateY(-20px);
  transition: 0.5s;
}

.progress-bar {
  width: 100%;
  background-color: #0c0e23;
  border-radius: 20px;
  padding: 3px;
}

.html {
  width: 67%;
  background-color: green;

  border-radius: 20px;
}

.css {
  width: 75%;
  background-color: green;

  border-radius: 20px;
}

.js {
  width: 45%;
  background-color: green;

  border-radius: 20px;
}

.react {
  width: 10%;
  background-color: green;
  border-radius: 20px;
}

.bootstrap {
  width: 30%;
  background-color: green;
  border-radius: 20px;
}

.card-experience i {
  display: block;
  justify-content: space-between;
}

.card-container {
  text-align: center;
  gap: 2rem;

  display: flex;
  width: 100%;
  justify-content: center;
}
